@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: white;
  font-weight: 400;
}